body{
    position: relative;
}
div{
    position: absolute; top:100px; right:650px; left:600px;
    background-color: gray;
    border: black solid;
    padding:30px 30px;
}
#title{
    text-align: center;
}
button{
    padding: 10px 20px;
    border-radius: 30%;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
}
p{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
}
#result{
   padding-top: 10px;
  font-size: medium;
}
table{
    border-spacing: 5px 10px;
}
#space{
    padding-right: 40px;padding-left: 40px;
}
.page-wrap {
    width: 220px;
    margin: 0 auto;
    }
